# FormBro
ADMIN="william@clutchd.com"

# AI Gateway
AI_GATEWAY_API_KEY=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Convex
NEXT_PUBLIC_CONVEX_URL=""
NEXT_PUBLIC_CONVEX_SITE_URL=""

# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Microsoft
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=""

# Resend
RESEND_API_KEY=""
RESEND_WEBHOOK_SECRET=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Stripe Price IDs
STRIPE_BASIC_MONTHLY_PRICE_ID=""
STRIPE_BASIC_YEARLY_PRICE_ID=""
STRIPE_PRO_MONTHLY_PRICE_ID=""
STRIPE_PRO_YEARLY_PRICE_ID=""
